<div class="card border-light border-light mx-4 mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5 class="card-title">ลงรายการจ่ายโครงการวิจัย/เงินรับฝาก/เงินอื่น</h5>
        </div>
        <div class="col-md-2" align="right">
          <a class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal"
            (click)="showinput()" (click)="cleardata()" >
            <i class="fa fa-plus-circle"></i> เพิ่มข้อมูล</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="shadow alert alert-info" role="alert">
        <div class="row">
          <div class="col">
            <!-- BASIC TABLE -->
            <div class="panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-3 text-secondary" style="font-size: 10pt">
                                    <label> หน่วยเบิกจ่าย: </label>
                                    <input type="hidden" class="form-control" name="PRIVILEGE_RSTATUS"
                                        id="PRIVILEGE_RSTATUS" [(ngModel)]="dataAdd.PRIVILEGE_RSTATUS">
                                    <select name="f_code" id="f_code" class="form-select"
                                        [(ngModel)]="dataAdd.CAMPUS_CODE" (change)="fetchdataCam()">
                                        <option value=""
                                            *ngIf="dataAdd.PRIVILEGE_RSTATUS=='A' || dataAdd.PRIVILEGE_RSTATUS =='1'">
                                            ทุกวิทยาเขต
                                        </option>
                                        <option [value]="cam.CAMPUS_CODE" *ngFor="let cam of dataCam">
                                            {{cam.CAMPUS_TNAME}}
                                        </option>
                                    </select>
                                </div>
                  <div class="col-md-4">
                    <label for="name" style="font-size: 10pt">คณะ /หน่วยงาน</label>
                    <select name="f_code" id="f_code" class="form-select" [(ngModel)]="dataAdd.FACULTY_CODE" 
                       (change)="fetchdatalist()">
                       <option value=""
                                            *ngIf="dataAdd.PRIVILEGE_RSTATUS=='A' || dataAdd.PRIVILEGE_RSTATUS =='1'">
                                            ทุกคณะ/หน่วยงาน</option>
                      <option [value]="fac.FACULTY_CODE" *ngFor="let fac of dataFac">
                        {{fac.FACULTY_TNAME}}</option>
  
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="name" style="font-size: 10pt">ปีงบประมาณ</label>
                    <select name="y_code" id="y_code" class="form-select" [(ngModel)]="dataAdd.PLYEARBUDGET_CODE"
                      (change)="fetchdatalist()">
                      <option [value]="year.PLYEARBUDGET_CODE" *ngFor="let year of dataYear">
                        {{year.PLYEARBUDGET_CODE}}
                      </option>
                    </select>
                  </div>
                <div class="col-md-2">
                  <label for="name" style="font-size: 10pt">แหล่งเงิน</label>
                  <select name="in_come" id="in_come" class="form-select" 
                    [(ngModel)]="dataAdd.PLINCOME_CODE" (change)="fetchdatalist()">
                   <!-- <option [value]="inc.PLINCOME_CODE" *ngFor="let inc of dataIncome">
                      {{inc.PLINCOME_NAME}}</option>-->
                      <option value="11" >งบประมาณจากภายนอก</option>
                      <option value="19" >เงินอื่นๆ</option>
                  <!--    <option value="17" >เงินประกันอื่น</option>-->
                      <option value="18" >เงินประมาณ งบกลาง</option>
  
                  </select>
                </div>
                <div class="col-md-1">
                  <label for="name" style="font-size: 10pt">ภาค</label>
                  <select name="cr_code" id="cr_code" class="form-select" [(ngModel)]="dataAdd.CRPART_ID">
                 <!--   <option [value]="crp.CRPART_ID" *ngFor="let crp of dataCrpart">{{crp.CRPART_TNAME}}
                    </option>-->
                    <option value="00" >ไม่ระบุ
                    </option>
  
                  </select>
                </div>
                  <label for="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <!--<button type="submit" class="btn btn-primary" id="submitinsert"
                                      (click)="fetchdatalist()"><i class="fa fa-search"></i>&nbsp;ค้นหาข้อมูล</button>-->
                  <input type="hidden" class="form-control" name="c_citizen" id="c_citizen" [(ngModel)]="dataAdd.citizen">
                  <input type="hidden" class="form-control" name="c_satatus" id="c_satatus"
                    [(ngModel)]="dataAdd.PRIVILEGE_RSTATUS">
                  <input type="hidden" class="form-control" name="c_fcode" id="c_fcode"
                    [(ngModel)]="dataAdd.UFACULTY_CODE">
                  <input type="hidden" class="form-control" name="c_ccode" id="c_code" [(ngModel)]="dataAdd.UCAMPUS_CODE">
                  <input type="hidden" class="form-control" name="c_opt" id="c_opt" [(ngModel)]="dataAdd.opt">
                </div>
            </div>
              <div class="row justify-content-center center-screen" *ngIf="loading">
                <div class="spinner-border " role="status" id="loading"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="shadow alert alert-secondary" role="alert">
        <div class="row">
          <div align="right" class="col-md-1">แสดงข้อมูล</div>
          <div align="right" class="col-md-1">
            <select (change)="onTableSizeChange($event)" class="form-select">
              <option *ngFor="let size of tableSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-4">
            <div class="input-group">
              <input class="form-control border-end-0 border" type="search" placeholder="ค้นหาข้อมูล"
                id="example-search-input" [(ngModel)]="searchTerm">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                  type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <table class="table btn-font3" width="100%" id="example"
        class="shadow-lg table table-bordered  table-striped table-hover tableFixHead">
        <thead>
          <tr class="bg-primary  text-white">
            <th>
              <div align="center">ที่</div>
            </th>
            <th *ngIf="dataAdd.FACULTY_CODE==''">
              <div align="center">คณะ/หน่วยงาน</div>
            </th>
            <th>
              <div align="center">ชื่อโครงการ/ชื่อเรื่อง</div>
            </th>
            <th>
              <div align="center">หมวดรายจ่าย</div>
            </th>
            <th>
              <div align="center">ขอเบิก</div>
            </th>
            <th>
              <div align="center">อนุมัติ</div>
            </th>
            <th>
              <div align="center">ผูกพัน</div>
            </th>
            <th>
              <div align="center">จ่ายจริง</div>
            </th>
            <th>
              <div align="center">วันที่ผ่านรายการเบิก</div>
            </th>
            <th>
              <div align="center">เลข3ดี</div>
            </th>
            <th>
              <div align="center">เลขฎีกา</div>
            </th>
            <th>
              <div align="center">จัดการข้อมูล</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <!--  <tr *ngFor="let p of dataYear ; index as i" >-->
  
          <tr *ngFor="let p of datalist|filter:searchTerm|paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                            } ; let i = index">
            <td width="5%" align="center">{{(page*tableSize)-tableSize+i+1}}</td>
            <td *ngIf="dataAdd.FACULTY_CODE==''">{{p.FACULTY_TNAME}}</td>
            <td>{{p.FNEXPENSES_TITLE}}</td>
            <td>{{p.PLSUBMONEYPAY_NAME}}</td>
            <td align="right">{{p.FNEXPENSES_OMONEY| number : '1.2-2'}}</td>
            <td align="right">{{p.FNEXPENSES_AMONEY| number : '1.2-2'}}</td>
            <td align="right">{{p.FNEXPENSES_CMONEY| number : '1.2-2'}}</td>
            <td align="right">{{p.FNEXPENSES_RMONEY| number : '1.2-2'}}</td>
            <td align="center">{{p.FNEXPENSES_MDATE1}}</td>
            <td>{{p.FNEXPENSES_STEP}}</td>
            <td>{{p.FNEXPENSES_DEKA}}</td>
            <td align="center" width="12%">
              <a role="button" class="btn btn-primary text-white" data-bs-toggle="modal"
                data-bs-target="#exampleModalSearch" (click)="editdata(p.FNEXPENSES_CODE)"><i class="fa fa-search"></i>
              </a>&nbsp;
              <a role="button" class="btn btn-danger text-white" (click)="deleteData(p.FNEXPENSES_CODE)"><i
                  class="fa fa-trash"></i>
              </a>&nbsp;
              <a role="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="editdata(p.FNEXPENSES_CODE)"><i class="fa fa-edit"></i></a>&nbsp;
            </td>
  
          </tr>
          <tr *ngIf="!rownum">
            <td colspan="11">ไม่มีข้อมูล{{rownum}}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-left">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  
  </div>
  <!-- The Modal -->
  <div class="modal fade" data-bs-focus="false" id="exampleModalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-white" id="exampleModalLabel">รายละเอียดการขอเบิก</h5>
          <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <table *ngFor="let p of datalists;let i = index" width="100%" border="0" cellspacing="0" cellpadding="0"
            class="table table-bordered table-hover">
            <tbody>
              <tr *ngIf="dataAdd.htmlStringd">
                <td colspan="2" align="center" class="text-danger">
                  <div [(innerHTML)]="dataAdd.htmlStringd"></div>
                </td>
              </tr>
              <tr>
                <td class="bg-warning" colspan="2" width="30%" align="center" valign="top">
                  <strong>รายละเอียดการขอเบิก</strong>
                </td>
              </tr>
              <tr *ngIf="dataAdd.PRIVILEGE_RSTATUS=='A'">
                <td colspan="2" align="center">
                  <div [(innerHTML)]="dataAdd.FNEXPENSES_CODE"></div>
                </td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>คณะ/หน่วยงาน ::</strong></td>
                <td height="20" valign="top" class="cs3">{{p.FACULTY_TNAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4">
                  <strong>&#3649;&#3627;&#3621;&#3656;&#3591;&#3648;&#3591;&#3636;&#3609; ::</strong>
                </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.PLINCOME_NAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4">
                  <strong>&#3627;&#3617;&#3623;&#3604;&#3619;&#3634;&#3618;&#3592;&#3656;&#3634;&#3618;
                    ::</strong>
                </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.PLMONEYPAY_NAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>หมวดรายจ่ายย่อย ::</strong>
                </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.PLSUBMONEYPAY_NAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>ผลผลิต ::</strong></td>
                <td height="20" align="left" valign="top" class="cs3">{{p.PLGPRODUCT_SHORTNAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อเรื่อง ::</strong></td>
                <td height="20" valign="top" class="cs3">{{p.FNEXPENSES_TITLE}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่ดำเนินการ ::</strong>
                </td>
                <td height="20" valign="top" class="cs3">{{p.FNEXPENSES_CCDATE}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4">
                  <strong>&#3648;&#3592;&#3657;&#3634;&#3627;&#3609;ี้ :: </strong>
                </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.FNCREDITOR_NAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>สาขา/สำนักงาน ::</strong>
                </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.DEPARTMENT_TNAME}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>หลักสูตร/งาน ::</strong></td>
                <td height="20" align="left" valign="top" class="cs3">{{p.SECTION_TNAME}}</td>
              </tr>
  
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>เลขที่หนังสือ:: </strong>
                </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_NUMBOOK}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>เลขฎีกา::</strong></td>
                <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_DEKA}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>ขอเบิก:: </strong></td>
                <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_OMONEY| number :
                  '1.2-2'}}
                </td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs3"><span
                    class="cs4"><strong>เงินอนุมัติ::</strong></span> </td>
                <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_AMONEY| number :
                  '1.2-2'}}
                </td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>เงินผูกพัน::</strong></td>
                <td valign="top" class="cs4">{{p.FNEXPENSES_CMONEY| number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>เงินโหลด::</strong></td>
                <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_RMONEY| number : '1.2-2'}}</td>
              </tr>
  
              <tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่ขอเบิก::</strong></td>
                <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_CDATE1}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่อนุมัติเงิน::</strong>
                </td>
                <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_ADATE1}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4">
                  <strong>วันที่อนุมัติเงินผูกพัน::</strong>
                </td>
                <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_CMDATE1}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4">
                  <strong>วันที่โหลดเงิน::</strong>
                </td>
                <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_MDATE1}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อผู้ทำรายการ ::</strong>
                </td>
                <td align="left" valign="top" class="cs4">{{p.STF_FNAME1}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อผู้อนุมัติเงิน
                    ::</strong></td>
                <td align="left" valign="top" class="cs4">{{p.STF_FNAME2}}</td>
              </tr>
              <tr>
                <td align="right" valign="top" class="cs4"><strong>ชื่อผู้อนุมัติเงินผูกพัน ::</strong></td>
                <td align="left" valign="top" class="cs4">{{p.STF_FNAME3}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อผู้ใส่เงินจ่ายจริง
                    ::</strong>
                </td>
                <td align="left" valign="top" class="cs4">{{p.STF_FNAME4}}</td>
              </tr>
              <tr>
                <td width="30%" align="right" valign="top" class="cs4"><strong>หมายเหตุ ::</strong></td>
                <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_EXTEND}}</td>
              </tr>
            </tbody>
          </table>
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
<!-- The Modal -->
<div class="modal fade" data-bs-focus="false" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white border-0 shadow-sm" style="border-radius: 0.3rem 0.3rem 0 0;">
        <h5 class="modal-title fs-5 fw-bold" id="exampleModalLabel">
            <i class="fa-solid fa-file-invoice-dollar me-2"></i>รายละเอียดการขอเบิก
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4 bg-light">
        <div class="row card outer mb-3" *ngIf="clickshow">
          <div class="col-md-12 p-3">
            <div class="card shadow-sm">
              <div class="card-header bg-white border-0">
                <div class="d-flex justify-content-between align-items-center">
                  <div [(innerHTML)]="dataAdd.htmlStringd"></div>
                  <button type="button" class="btn-close" (click)="fetchclose()" aria-label="Close"></button>
                </div>
              </div>
              <div class="card-body p-0 text-center">
                <iframe src="/acc3d/budget/creditor" height="700" width="100%" style="border: none;" title="Creditor Iframe"></iframe>
                <div class="p-3 text-end bg-light border-top">
                  <button type="button" class="btn btn-outline-secondary rounded-pill px-4" (click)="fetchclose()">ปิด</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 shadow-sm mb-4">
            <div class="card-body p-4">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-layer-group text-primary me-1"></i>ประเภทงบ</label>
                        <select name="PLMONEYPAY_CODE1" id="PLMONEYPAY_CODE1" class="form-select"
                          (change)="fetchdatalistsubm()" [(ngModel)]="dataAdd.PLMONEYPAY_CODE">
                          <option value="">กรุณาเลือก</option>
                          <option [value]="pl.PLMONEYPAY_CODE" *ngFor="let pl of dataPlmoneypay">{{pl.PLMONEYPAY_NAME}}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-list-ul text-success me-1"></i>หมวดรายจ่ายย่อย</label>
                        <select name="PLSUBMONEYPAY_CODE1" id="PLSUBMONEYPAY_CODE1" class="form-select"
                          [(ngModel)]="dataAdd.PLSUBMONEYPAY_CODE" (change)="fetchdatalistpl()">
                          <option value="">กรุณาเลือก</option>
                          <option [value]="sub.PLSUBMONEYPAY_CODE" *ngFor="let sub of dataESubplmoneypay">{{sub.PLSUBMONEYPAY_NAME}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-box text-warning me-1"></i>ผลผลิต</label>
                        <select name="pln" id="pln" class="form-select" [(ngModel)]="dataAdd.PLGPRODUCT_CODE">
                          <option value="">กรุณาเลือก</option>
                          <option [value]="pl.PLGPRODUCT_CODE" *ngFor="let pl of dataPlproduct">{{pl.PLGPRODUCT_SHORTNAME}}</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-book text-info me-1"></i>เลขที่หนังสือ</label>
                        <input name="FNEXPENSES_NUMBOOK" id="FNEXPENSES_NUMBOOK" type="text" class="form-control"
                          placeholder="ระบุเลขที่หนังสือ" [(ngModel)]="dataAdd.FNEXPENSES_NUMBOOK">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-file-invoice text-secondary me-1"></i>เลขฎีกา</label>
                        <input name="FNEXPENSES_DEKA" id="FNEXPENSES_DEKA" type="text" class="form-control"
                          placeholder="ระบุเลขฎีกา" [(ngModel)]="dataAdd.FNEXPENSES_DEKA">
                    </div>

                    <div class="col-md-12">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-building text-primary me-1"></i>ชื่อโครงการ/ครุภัณฑ์/สิ่งก่อสร้าง</label>
                        <select name="p_code" id="p_code" class="form-select" [(ngModel)]="dataAdd.PLPROJECT_CODE">
                          <option [value]="pl.id" *ngFor="let pl of dataEpl">{{pl.name}}</option>
                        </select>
                    </div>

                    <div class="col-md-8">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-heading text-success me-1"></i>ชื่อเรื่อง</label>
                        <input name="FNEXPENSES_TITLE" id="FNEXPENSES_TITLE" type="text" class="form-control"
                          placeholder="ระบุชื่อโครงการ/ชื่อเรื่อง" [(ngModel)]="dataAdd.FNEXPENSES_TITLE">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-calendar-day text-danger me-1"></i>วันที่ดำเนินการ</label>
                        <input name="FNEXPENSES_CCDATE" id="FNEXPENSES_CCDATE" type="text" class="form-control"
                          placeholder="ระบุวันที่ดำเนินการ" [(ngModel)]="dataAdd.FNEXPENSES_CCDATE">
                    </div>

                    <div class="col-md-10">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-shop text-primary me-1"></i>ผู้รับเงิน/ร้านค้า</label>
                        <input name="FNCREDITOR_CODE" type="hidden" id="FNCREDITOR_CODE" [(ngModel)]="dataAdd.FNCREDITOR_CODE" />
                        <div class="ng-autocomplete">
                          <ng-autocomplete style="width:100%;" [(ngModel)]="dataFAdd.FNCREDITOR_CODE1"
                            [data]="datacomplete" [searchKeyword]="keyword" placeholder="ระบุผู้รับเงิน/ร้านค้า"
                            (selected)='selectEvent1($event)' (inputChanged)='onChangeSearch1($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-success w-100 shadow-sm" id="submit" (click)="showapp()">
                            <i class="fa fa-plus-circle me-1"></i> ผู้รับเงิน/ร้านค้า
                        </button>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-code-branch text-success me-1"></i>สาขา</label>
                        <select name="DEPARTMENT_CODE" id="DEPARTMENT_CODE" class="form-select"
                          (change)="fetchdatalistsub()" [(ngModel)]="dataAdd.DEPARTMENT_CODE">
                          <option [value]="de.DEPARTMENT_CODE" *ngFor="let de of dataEDepartment">{{de.DEPARTMENT_TNAME}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-graduation-cap text-warning me-1"></i>หลักสูตร</label>
                        <select name="SECTION_CODE" id="SECTION_CODE" class="form-select" [(ngModel)]="dataAdd.SECTION_CODE">
                          <option [value]="sec.SECTION_CODE" *ngFor="let sec of dataESection">{{sec.SECTION_TNAME}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Money Summary -->
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-body p-4 bg-light rounded">
                <div class="row g-3">
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">ขอเบิกเงินจำนวน</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-money-bill-wave text-primary"></i></span>
                            <input name="FNEXPENSES_OMONEY" id="FNEXPENSES_OMONEY" type="text" class="form-control text-end fw-bold"
                              placeholder="0.00" (keypress)="CheckNum($event)" style="font-size: 16pt; background-color: #e9ecef;"
                              [(ngModel)]="dataAdd.FNEXPENSES_OMONEY" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">จำนวนเงินที่อนุมัติ</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-check-double text-success"></i></span>
                            <input name="FNEXPENSES_AMONEY" id="FNEXPENSES_AMONEY" type="text" class="form-control text-end fw-bold"
                              placeholder="0.00" (keypress)="CheckNum($event)" style="font-size: 16pt; background-color: #e9ecef;"
                              [(ngModel)]="dataAdd.FNEXPENSES_AMONEY" disabled>
                            <input name="FNEXPENSES_SBMONEY" id="FNEXPENSES_SBMONEY" type="hidden" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">เงินผูกพัน</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-link text-warning"></i></span>
                            <input name="FNEXPENSES_CMONEY" id="FNEXPENSES_CMONEY" type="text" class="form-control text-end fw-bold"
                              placeholder="0.00" (keypress)="CheckNum($event)" style="font-size: 16pt; background-color: #e9ecef;"
                              [(ngModel)]="dataAdd.FNEXPENSES_CMONEY" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">จำนวนเงินที่จ่ายจริง</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-coins text-info"></i></span>
                            <input name="FNEXPENSES_RMONEY" id="FNEXPENSES_RMONEY" type="text" class="form-control text-end fw-bold"
                              placeholder="0.00" (keypress)="CheckNum($event)" style="font-size: 16pt; background-color: #e9ecef;"
                              [(ngModel)]="dataAdd.FNEXPENSES_RMONEY" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dates Section -->
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-body p-4">
                <div class="row g-3">
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">วันที่ขอเบิก</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-calendar-day text-primary"></i></span>
                            <input name="FNEXPENSES_CDATE" id="FNEXPENSES_CDATE" type="text" class="form-control" bsDatepicker
                              #dp3="bsDatepicker" placeholder="เลือกวันที่" [(ngModel)]="dataAdd.FNEXPENSES_CDATE" readonly container="body">
                            <button class="btn btn-outline-secondary" type="button" (click)="dataAdd.FNEXPENSES_CDATE = null" title="ล้างวันที่">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <button class="btn btn-outline-primary" type="button" (click)="dp3.toggle()">
                                <i class="fa-solid fa-calendar-days"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">วันที่อนุมัติเงิน</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-calendar-day text-success"></i></span>
                            <input name="FNEXPENSES_ADATE" id="FNEXPENSES_ADATE" type="text" class="form-control" bsDatepicker
                              #dp4="bsDatepicker" placeholder="เลือกวันที่" [(ngModel)]="dataAdd.FNEXPENSES_ADATE" readonly container="body">
                            <button class="btn btn-outline-secondary" type="button" (click)="dataAdd.FNEXPENSES_ADATE = null" title="ล้างวันที่">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <button class="btn btn-outline-primary" type="button" (click)="dp4.toggle()">
                                <i class="fa-solid fa-calendar-days"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">วันที่ผูกพัน</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-calendar-day text-warning"></i></span>
                            <input name="FNEXPENSES_MDATE" id="FNEXPENSES_MDATE" type="text" class="form-control" bsDatepicker
                              #dp5="bsDatepicker" placeholder="เลือกวันที่" [(ngModel)]="dataAdd.FNEXPENSES_CMDATE" readonly container="body">
                            <button class="btn btn-outline-secondary" type="button" (click)="dataAdd.FNEXPENSES_CMDATE = null" title="ล้างวันที่">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <button class="btn btn-outline-primary" type="button" (click)="dp5.toggle()">
                                <i class="fa-solid fa-calendar-days"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-secondary">วันที่ผ่านเอกสารเบิก</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white"><i class="fa-solid fa-calendar-day text-info"></i></span>
                            <input name="FNEXPENSES_MDATE" id="FNEXPENSES_MDATE_DOC" type="text" class="form-control" bsDatepicker
                              #dp6="bsDatepicker" placeholder="เลือกวันที่" [(ngModel)]="dataAdd.FNEXPENSES_MDATE" readonly container="body">
                            <button class="btn btn-outline-secondary" type="button" (click)="dataAdd.FNEXPENSES_MDATE = null" title="ล้างวันที่">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <button class="btn btn-outline-primary" type="button" (click)="dp6.toggle()">
                                <i class="fa-solid fa-calendar-days"></i>
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-md-12 mt-3">
                        <label class="form-label fw-bold text-secondary"><i class="fa-solid fa-comment-dots text-secondary me-1"></i>หมายเหตุ</label>
                        <input name="FNEXPENSES_EXTEND" id="FNEXPENSES_EXTEND" type="text" class="form-control"
                          placeholder="ระบุหมายเหตุเพิ่มเติม" [(ngModel)]="dataAdd.FNEXPENSES_EXTEND">
                    </div>
                </div>
            </div>
        </div>

        <!-- บัญชีแยกประเภท Section -->
        <div class="card border-0 shadow-sm">
            <div class="card-header bg-white border-bottom">
                <h6 class="mb-0 fw-bold text-primary"><i class="fa-solid fa-list me-2"></i>บัญชีแยกประเภท</h6>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-borderless table-striped align-middle mb-0" id="table2">
                        <tbody>
                            <tr *ngFor="let p of number;let i = index">
                                <td width="25%" class="px-3">
                                  <input name="FRACCCODEC" type="hidden" id="FRACCCODEC" [(ngModel)]="dataAdd.FRACCCODE[i]" />
                                  <div class="ng-autocomplete">
                                      <ng-autocomplete [(ngModel)]="dataAdd.FRACC1[i]" [data]="datacomplete"
                                        [searchKeyword]="keyword" placeholder="เลขบัญชีแยกประเภท {{i+1}}"
                                        (selected)='selectEvent($event,i)' (inputChanged)='onChangeSearch($event)'
                                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                      </ng-autocomplete>
                                      <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                      </ng-template>
                                      <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                  </div>
                                  <input type="hidden" name="fneacc[0]" class="form-control" [(ngModel)]="dataAdd.FNEXACCCODE[i]">
                                </td>
                                <td width="14%">
                                  <select name="FNEXACREGIS_TYPE" id="FNEXACREGIS_TYPE" class="form-select"
                                    [(ngModel)]="dataAdd.FNEXACC_TYPE[i]">
                                    <option value="">ประเภทเอกสาร</option>
                                    <option [value]="type.TYPE_CODE" *ngFor="let type of dataType">{{type.TYPE_CODE}}</option>
                                  </select>
                                </td>
                                <td width="14%">
                                    <input placeholder="เลขเอกสาร" type="text" name="FNEXACC_NUMBER[0]"
                                    class="form-control" [(ngModel)]="dataAdd.FNEXACC_NUMBER[i]">
                                </td> 
                                <td width="15%">
                                    <div class="input-group">
                                        <input placeholder="วันที่" type="text" name="fneacc[0]" class="form-control form-control-sm" bsDatepicker
                                            #dp="bsDatepicker" [(ngModel)]="dataAdd.FNEXACCRDATE[i]" readonly container="body">
                                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="dp.toggle()">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </button>
                                    </div>
                                </td>
                                <td width="12%">
                                    <input type="text" name="fneacc[0]" class="form-control" placeholder="เลขฎีกา"
                                    [(ngModel)]="dataAdd.FNEXACCDEKA[i]">
                                </td>
                                <td width="20%" class="pe-3">
                                    <div class="input-group">
                                        <input type="text" name="frm" class="form-control text-end"
                                        [(ngModel)]="dataAdd.FNEXACCMONEY[i]" placeholder="0.00" (keyup)="sumdatafr()">
                                        <span class="input-group-text bg-white">บาท</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

      </div>
      <div class="modal-footer bg-light border-0 pb-4 pe-4" style="border-radius: 0 0 0.3rem 0.3rem;">
        <button id="ModalClose" type="button" class="btn btn-outline-secondary px-4 rounded-pill" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark me-1"></i> ปิด
        </button>
        <button *ngIf="rowpbi" type="button" class="btn btn-primary px-4 rounded-pill shadow-sm" (click)="insertdata()">
            <i class="fa-solid fa-floppy-disk me-1"></i> บันทึกข้อมูล
        </button>
        <button *ngIf="rowpbu" type="button" class="btn btn-warning text-white px-4 rounded-pill shadow-sm" (click)="updatedata()">
            <i class="fa-solid fa-pen-to-square me-1"></i> แก้ไขข้อมูล
        </button>
      </div>
    </div>
  </div>
</div>
