<div class="container">
    <br>
    <p class="txt-font2">ระบบบริหารงานออกแบบและพัฒนาอาคารสถานที่</p>
    <div class="row justify-content-center mt-3">
      <hr>
      <!-- column *ngIf="datastatusas>0"-->
      <div  class="col col-sm-2 col-md-2 col-lg-1 col-xl-1">
        <div class="icon-app">
          <div class="icon-box ">
            <a routerLink="design">
              <i class="fa-solid fa-school"></i>
            </a>
          </div>
          <p class="btn-font">ออกแบบและพัฒนาอาคารสถานที่</p>
        </div>
      </div>
      
      </div>
      <hr>
    </div>
