<div class="card border-light mx-4 mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-9">
                <h5 class="card-title">ลงวันที่จ่าย (สงขลา)</h5>
            </div>
            <div class="col-md-3" align="right">

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <!-- BASIC TABLE -->
                <div class="panel">
                    <div class="panel-heading">
                        <div class="shadow alert alert-info" role="alert">
                            <div class="row">
                                <div class="col-md-2 text-secondary" style="font-size: 10pt">
                                    <label> หน่วยเบิกจ่าย: </label>
                                    <input type="hidden" class="form-control" name="PRIVILEGE_RSTATUS"
                                        id="PRIVILEGE_RSTATUS" [(ngModel)]="dataAdd.PRIVILEGE_RSTATUS">
                                    <select name="f_code" id="f_code" class="form-select"
                                        [(ngModel)]="dataAdd.CAMPUS_CODE" (change)="fetchdataCam()">
                                        <option value=""
                                            *ngIf="dataAdd.PRIVILEGE_RSTATUS=='A' || dataAdd.PRIVILEGE_RSTATUS =='1'">
                                            ทุกวิทยาเขต
                                        </option>
                                        <option [value]="cam.CAMPUS_CODE" *ngFor="let cam of dataCam">
                                            {{cam.CAMPUS_TNAME}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 text-secondary" style="font-size: 10pt">
                                    <label> คณะ /หน่วยงาน: </label>
                                    <select name="f_code" id="f_code" class="form-select"
                                        [(ngModel)]="dataAdd.FACULTY_CODE">
                                        <option value="">ทุกคณะ/หน่วยงาน</option>
                                        <option [value]="fac.FACULTY_CODE" *ngFor="let fac of dataFac">
                                            {{fac.FACULTY_TNAME}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2 text-secondary" style="font-size: 10pt">
                                    <label> จากวันที่ผ่านรายการเบิก: </label>
                                    <input placeholder="จากวันที่" type="text" class="form-control" bsDatepicker
                                        #dp="bsDatepicker" [(ngModel)]="dataAdd.DATENOWS" readonly>
                                    <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                                        class="fa-solid fa-calendar-days cursor-p text-primary" (click)="dp.toggle()">
                                    </i>
                                </div>
                                <div class="col-md-2 text-secondary" style="font-size: 10pt">
                                    <label> ถึงวันที่: </label>
                                    <input placeholder="ถึงวันที่" type="text" class="form-control" bsDatepicker
                                        #dp2="bsDatepicker" [(ngModel)]="dataAdd.DATENOWT" readonly>
                                    <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                                        class="fa-solid fa-calendar-days cursor-p text-primary"
                                        (click)="dp2.toggle()"></i>
                                </div>
                                <div class="col-md-3">
                                    <br>
                                    <a class="btn btn-danger text-white" (click)="fetchdatalist()">
                                        <i class="fa fa-plus-circle"></i> บันทึกรายการจ่าย</a>&nbsp;
                                    <button type="submit" class="btn btn-primary" id="submitinsert"
                                        (click)="fetchdatalistapp()"><i
                                            class="fa fa-search"></i>&nbsp;รายการจ่ายชำระเงิน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center center-screen" *ngIf="loading">
            <div class="spinner-border " role="status" id="loading"></div>
        </div>
        <div *ngIf="rownum" class="shadow alert alert-secondary" role="alert">
            <div class="row">
                <!--     <div align="right" class="col-md-1">
                     <select (change)="onTableSizeChange($event)" class="form-select">
                        <option *ngFor="let size of tableSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>-->
                <div class="col-md-3">
                    <button *ngIf="rownum" type="button" class="btn btn-success" (click)="exportexcel()">
                        <i class="fa-sharp fa-solid fa-file-excel"></i>&nbsp;Export
                        Excel</button>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control border-end-0 border" type="search" placeholder="ค้นหา"
                            id="example-search-input" [(ngModel)]="searchTerm">
                        <span class="input-group-append">
                            <button
                                class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                                type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div style="width:100%; height:700px; overflow:auto;">
            <table *ngIf="rownum" id="excel-table" width="100%" border="1" cellspacing="0" cellpadding="0"
                class="table card-table table-bordered table-striped table-vcenter tableFixHead btn-font3">
                <thead>
                    <tr class="bg-info">
                        <th>
                            <div align="center">ที่</div>
                        </th>
                        <th>
                            <div align="center">คณะ/หน่วยงาน</div>
                        </th>
                        <th>
                            <div align="center">ชื่อโครงการ/ชื่อเรื่อง</div>
                        </th>
                        <th>
                            <div align="center">เงิน</div>
                        </th>
                        <th>
                            <div align="center">ภาค</div>
                        </th>
                        <th>
                            <div align="center">หมวดรายจ่าย</div>
                        </th>
                        <th>
                            <div align="center">หมวดรายจ่ายย่อย</div>
                        </th>
                        <th>
                            <div align="center">ผลผลิต</div>
                        </th>
                        <th>
                            <div align="center">รหัสบัญชีแยกประเภท</div>
                        </th>
                        <th>
                            <div align="center">ชื่อบัญชีแยกประเภท</div>
                        </th>
                        <th>
                            <div align="center">เลข3ดี</div>
                        </th>
                        <th>
                            <div align="center">วันที่ผ่านรายการเบิก</div>
                        </th>
                        <th>
                            <div align="center">วันที่จ่าย</div>
                        </th>
                        <th>
                            <div align="center">เลขฎีกา</div>
                        </th>
                        <th>
                            <div align="center">ประเภทเอกสาร</div>
                        </th>
                        <th>
                            <div align="center">เลขเอกสาร</div>
                        </th>
                        <th>
                            <div align="center">จำนวนเงิน</div>
                        </th>
                        <th>
                            <div align="center">หมายเหตุ</div>
                        </th>
                        <th>
                            <div align="center">จัดการข้อมูล</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!--  <tr *ngFor="let p of dataYear ; index as i" >-->

                    <tr class="btn-font2" *ngFor="let p of datalistapp|filter:searchTerm; let i = index">
                        <td width="5%" align="center">{{+i+1}}</td>
                        <td>{{p.FACULTY_TNAME}}</td>
                        <td>{{p.FNEXPENSES_TITLE}}</td>
                        <td>{{p.PLINCOME_NAME}}</td>
                        <td>{{p.CRPART_TNAME}}</td>
                        <td>{{p.PLMONEYPAY_NAME}}</td>
                        <td>{{p.PLSUBMONEYPAY_NAME}}</td>
                        <td>{{p.PLGPRODUCT_SHORTNAME}}</td>
                        <td align="center">{{p.FRACC_CODE}}</td>
                        <td align="center">{{p.FRACC_TNAME}}</td>
                        <td>{{p.FNEXPENSES_STEP}}</td>
                        <td>{{p.FNEXPENSES_MDATE1}}</td>
                        <td>{{p.FNEXACCPAYDATE_DATEPD1}}</td>
                        <td>{{p.FNEXACC_DEKA}}</td>
                        <td>{{p.FNEXACCPAYDATE_TYPE}}</td>
                        <td>{{p.FNEXACCPAYDATE_NUMBER}}</td>
                        <td align="right">{{p.FNEXACCPAYDATE_MONEY| number : '1.2-2'}}</td>
                        <td>{{p.FNEXACCPAYDATE_NOTE}}</td>
                        <td width="8%">
                            <a  role="button" title="ลบข้อมูล"
                                class="btn btn-danger text-white" (click)="deleteData(p.FNEXACCPAYDATE_CODE)"><i
                                    class="fa fa-trash"></i> </a>
                            &nbsp;
                            <a  role="button" title="แก้ไข" data-bs-toggle="modal"
                                data-bs-target="#modalEdit" class="btn btn-warning text-white"
                                (click)="editdata(p.FNEXACCPAYDATE_CODE,p.FNEXACCPAYDATE_NUMBER)"><i
                                    class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    <tr *ngIf="!rownum">
                        <td colspan="19">ไม่มีข้อมูล{{rownum}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center center-screen" *ngIf="loadingdetail">
                <div class="spinner-border " role="status" id="loading"></div>
            </div>
 
            <div *ngIf="rownum1" class="shadow alert alert-secondary" role="alert">
                <div class="row">
                    <div class="col-md-3">
                        <!--<button type="button" class="btn btn-success" (click)="exportexcel()">Export
                Excel</button>-->
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control border-end-0 border" type="search"
                                placeholder="ค้นหาเลข3ดี/เลขฎีกา" id="example-search-input"
                                [(ngModel)]="dataAdd.FNEXPENSES_STEP">
                            <span class="input-group-append">
                                <button (click)="fetchdatalist()"
                                    class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                                    type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1" align="right">
                        <button type="submit" class="btn btn-success" id="submitupdate" data-bs-toggle="modal"
                        data-bs-target="#modalEdit" (click)="showinput()" (click)="setshowbti()"><i
                                class="fa fa-edit"></i>&nbsp;ลงวันที่จ่าย</button>
                    </div>
                </div>
            </div>
            <div style="width:100%; height:500px; overflow:auto;">
                <table *ngIf="rownum1" id="excel-table" class="table btn-font3" width="100%"
                    class="table table-bordered table-striped table-hover tableFixHead btn-font3">
                    <thead>
                        <tr class="bg-info">
                            <th>
                                <div align="center">ที่</div>
                            </th>
                            <th>
                                <div align="center">คณะ/หน่วยงาน</div>
                            </th>
                            <th>
                                <div align="center">ชื่อโครงการ/ชื่อเรื่อง</div>
                            </th>
                            <th>
                                <div align="center">เงิน</div>
                            </th>
                            <th>
                                <div align="center">ภาค</div>
                            </th>
                            <th>
                                <div align="center">หมวดรายจ่าย</div>
                            </th>
                            <th>
                                <div align="center">หมวดรายจ่ายย่อย</div>
                            </th>
                            <th>
                                <div align="center">ผลผลิต</div>
                            </th>
                            <th>
                                <div align="center">จำนวนเงิน</div>
                            </th>
                            <th>
                                <div align="center">รหัสบัญชีแยกประเภท</div>
                            </th>
                            <th>
                                <div align="center">ชื่อบัญชีแยกประเภท</div>
                            </th>
                            <th>
                                <div align="center">วันที่ผ่านรายการเบิก</div>
                            </th>
                            <th>
                                <div align="center">เลข3ดี</div>
                            </th>
                            <th>
                                <div align="center">เลขฎีกา</div>
                            </th>
                            <th>
                                <div align="center">วันที่เงินเข้า</div>
                            </th>
                            <th>
                                <div align="center">เลขเอกสาร</div>
                            </th>
                            <th>
                                <div align="center">ชื่อผู้ทำรายการ</div>
                            </th>
                            <th>
                                <div align="center">เลือก(ทั้งหมด)<input class="form-check-input filled-in"
                                        name="cnk_code" id="cnk_code4" type="checkbox" [(ngModel)]="dataAdd.checkall"
                                        (click)="checkall()">
                                </div>
                            </th>
                            <th>
                                <div align="center">จำนวนเงิน</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  <tr *ngFor="let p of dataYear ; index as i" >-->

                        <tr class="btn-font2" *ngFor="let p of datalist; let i = index">
                            <td width="5%" align="center">{{+i+1}}</td>
                            <td>{{p.FACULTY_TNAME}}</td>
                            <td>{{p.FNEXPENSES_TITLE}}</td>
                            <td>{{p.PLINCOME_NAME}}</td>
                            <td>{{p.CRPART_TNAME}}</td>
                            <td>{{p.PLMONEYPAY_NAME}}</td>
                            <td>{{p.PLSUBMONEYPAY_NAME}}</td>
                            <td>{{p.PLGPRODUCT_SHORTNAME}}</td>
                            <td align="right">{{p.FNEXPENSES_RMONEY| number : '1.2-2'}}</td>
                            <td align="center">{{p.FRACC_CODE}}</td>
                            <td align="center">{{p.FRACC_TNAME}}</td>
                            <td>{{p.FNEXPENSES_MDATE1}}</td>
                            <td>{{p.FNEXPENSES_STEP}}</td>
                            <td>{{p.FNEXACC_DEKA}}</td>
                            <td>{{p.FNEXACCMONEYDATE_DATEPD1}}</td>
                            <td>{{p.FNEXACCMONEYDATE_NUMBER}}</td>
                            <td>{{p.STF_FNAME}}</td>
                            <td align="center">
                                <input class="form-check-input filled-in" name="cnk_code" id="cnk_code4" type="checkbox"
                                    [(ngModel)]="dataAdd.check[i]">
                                <input name="VMREQUEST_CODE" type="hidden" id="VMREQUEST_CODE" size="10"
                                    [(ngModel)]="dataAdd.FNEXACC_CODE[i]" />
                                <input name="FNEXACC_DETAIL" type="hidden" id="FNEXACC_DETAIL" size="10"
                                    [(ngModel)]="dataAdd.FNEXACC_DETAIL[i]" />
                                <input name="USERNAME_CISCO" type="hidden" id="USERNAME_CISCO" size="10"
                                    [(ngModel)]="dataAdd.USERNAME_CISCO[i]" />
                            </td>
                            <td width="15%">
                                <input name="OMONEY" type="text" id="OMONEY" size="8" style="font-size: 14pt;"
                                    [(ngModel)]="dataAdd.MONEY[i]" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="d-flex justify-content-left">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>-->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">ลงวันที่จ่าย</h1>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center center-screen" *ngIf="loadingdetail">
                        <div class="spinner-border " role="status" id="loadingdetail"></div>
                    </div>
                    <input type="hidden" class="form-control" name="FNEXACCPAYDATE_CODE" id="FNEXACCPAYDATE_CODE"
                        [(ngModel)]="dataAdd.FNEXACCPAYDATE_CODE">
                    <label> วันที่จ่าย: </label>
                    <input placeholder="จากวันที่" type="text" class="form-control" bsDatepicker #dp3="bsDatepicker"
                        [(ngModel)]="dataAdd.DATENOWP" readonly>
                    <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                        class="fa-solid fa-calendar-days cursor-p text-primary" (click)="dp3.toggle()">
                    </i>
                    <label for="name">เลขเอกสาร</label>
                    <input type="text" name="FNEXACCPAYDATE_NUMBER" id="FNEXACCPAYDATE_NUMBER" class="form-control"
                        placeholder="เลขเอกสาร" [(ngModel)]="dataAdd.FNEXACCPAYDATE_NUMBER">
                    <label *ngIf="rowpbu" for="name">จำนวนเงิน</label>
                    <input *ngIf="rowpbu" type="text" name="FNEXACCPAYDATE_MONEY" id="FNEXACCPAYDATE_MONEY" class="form-control"
                        placeholder="จำนวนเงิน" [(ngModel)]="dataAdd.FNEXACCPAYDATE_MONEY"
                        (keypress)="CheckNum($event)">
                    <label for="name">หมายเหตุ</label>
                    <textarea id="FNEXACCPAYDATE_NOTE" name="FNEXACCPAYDATE_NOTE"
                        [(ngModel)]="dataAdd.FNEXACCPAYDATE_NOTE" rows="4" cols="50" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="ModalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button *ngIf="rowpbi" type="button" class="btn btn-primary"
                    (click)="insertdata()">บันทึกข้อมูล</button>
                <button *ngIf="rowpbu" type="button" class="btn btn-primary" (click)="updatedata()">แก้ไขข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 
    <div class="modal fade" id="modalpayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">รายละเอียด</h1>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center center-screen" *ngIf="loadingdetail">
                        <div class="spinner-border " role="status" id="loading"></div>
                    </div>
                    <div class="row" *ngIf="clickshow">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="card outer">
                                    <div class="card-header ">
                                        ลงวันที่จ่าย
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"> </div>
                                        <div class="col-md-10">
                                            <label> วันที่จ่าย: </label>
                                            <input placeholder="จากวันที่" type="text" class="form-control" bsDatepicker
                                                #dp4="bsDatepicker" [(ngModel)]="dataAdd.DATENOWP1" readonly>
                                            <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                                                class="fa-solid fa-calendar-days cursor-p text-primary"
                                                (click)="dp4.toggle()">
                                            </i>
                                            <label for="name">ประเภทเอกสาร</label>
                                            <select name="FNEXACCPAYDATE_TYPE" id="FNEXACCPAYDATE_TYPE"
                                                class="form-select" [(ngModel)]="dataAdd.FNEXACCPAYDATE_TYPE1">
                                                <option value="PM">PM</option>
                                            </select>
                                            <label for="name">เลขเอกสาร</label>
                                            <input type="text" name="FNEXACCPAYDATE_NUMBER" id="FNEXACCPAYDATE_NUMBER"
                                                class="form-control" placeholder="เลขเอกสาร"
                                                [(ngModel)]="dataAdd.FNEXACCPAYDATE_NUMBER1">
                                            <label for="name">หมายเหตุ</label>
                                            <textarea id="FNEXACCPAYDATE_NOTE" name="FNEXACCPAYDATE_NOTE"
                                                [(ngModel)]="dataAdd.FNEXACCPAYDATE_NOTE1" rows="3" cols="50"
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12" align="right">
                                            <button type="button" class="btn btn-secondary" (click)="fetchclose()">ปิด
                                            </button>&nbsp;
                                            <button type="button" class="btn btn-primary"
                                                (click)="insertdata()">บันทึกข้อมูล</button>&nbsp;&nbsp;
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input class="form-control border-end-0 border" type="search"
                                    placeholder="ค้นหาเลข3ดี/เลขฎีกา" id="example-search-input"
                                    [(ngModel)]="dataAdd.FNEXPENSES_STEP">
                                <span class="input-group-append">
                                    <button (click)="fetchdatalist()"
                                        class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                                        type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1" align="right">
                            <button type="submit" class="btn btn-success" id="submitupdate" (click)="showsec()"><i
                                    class="fa fa-edit"></i>&nbsp;ลงวันที่จ่าย</button>
                        </div>
                    </div>
                    <div style="width:100%; height:500px; overflow:auto;">
                        <table id="excel-table" class="table btn-font3" width="100%"
                            class="table table-bordered table-striped table-hover tableFixHead btn-font3">
                            <thead>
                                <tr class="bg-info">
                                    <th>
                                        <div align="center">ที่</div>
                                    </th>
                                    <th>
                                        <div align="center">คณะ/หน่วยงาน</div>
                                    </th>
                                    <th>
                                        <div align="center">ชื่อโครงการ/ชื่อเรื่อง</div>
                                    </th>
                                    <th>
                                        <div align="center">เงิน</div>
                                    </th>
                                    <th>
                                        <div align="center">ภาค</div>
                                    </th>
                                    <th>
                                        <div align="center">หมวดรายจ่าย</div>
                                    </th>
                                    <th>
                                        <div align="center">หมวดรายจ่ายย่อย</div>
                                    </th>
                                    <th>
                                        <div align="center">ผลผลิต</div>
                                    </th>
                                    <th>
                                        <div align="center">จำนวนเงิน</div>
                                    </th>
                                    <th>
                                        <div align="center">รหัสบัญชีแยกประเภท</div>
                                    </th>
                                    <th>
                                        <div align="center">ชื่อบัญชีแยกประเภท</div>
                                    </th>
                                    <th>
                                        <div align="center">วันที่โหลดเงิน</div>
                                    </th>
                                    <th>
                                        <div align="center">เลข3ดี</div>
                                    </th>
                                    <th>
                                        <div align="center">เลขฎีกา</div>
                                    </th>
                                    <th>
                                        <div align="center">ชื่อผู้ทำรายการ</div>
                                    </th>
                                    <th>
                                        <div align="center">เลือก(ทั้งหมด)<input class="form-check-input filled-in"
                                                name="cnk_code" id="cnk_code4" type="checkbox"
                                                [(ngModel)]="dataAdd.checkall" (click)="checkall()">
                                        </div>
                                    </th>
                                    <th>
                                        <div align="center">จำนวนเงิน</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                

                                <tr class="btn-font2" *ngFor="let p of datalist; let i = index">
                                    <td width="5%" align="center">{{+i+1}}</td>
                                    <td>{{p.FACULTY_TNAME}}</td>
                                    <td>{{p.FNEXPENSES_TITLE}}</td>
                                    <td>{{p.PLINCOME_NAME}}</td>
                                    <td>{{p.CRPART_TNAME}}</td>
                                    <td>{{p.PLMONEYPAY_NAME}}</td>
                                    <td>{{p.PLSUBMONEYPAY_NAME}}</td>
                                    <td>{{p.PLGPRODUCT_SHORTNAME}}</td>
                                    <td align="right">{{p.FNEXPENSES_RMONEY| number : '1.2-2'}}</td>
                                    <td align="center">{{p.FRACC_CODE}}</td>
                                    <td align="center">{{p.FRACC_TNAME}}</td>
                                    <td>{{p.FNEXPENSES_MDATE1}}</td>
                                    <td>{{p.FNEXPENSES_STEP}}</td>
                                    <td>{{p.FNEXACC_DEKA}}</td>
                                    <td>{{p.STF_FNAME}}</td>
                                    <td align="center">
                                        <input class="form-check-input filled-in" name="cnk_code" id="cnk_code4"
                                            type="checkbox" [(ngModel)]="dataAdd.check[i]">
                                        <input name="VMREQUEST_CODE" type="hidden" id="VMREQUEST_CODE" size="10"
                                            [(ngModel)]="dataAdd.FNEXACC_CODE[i]" />
                                        <input name="FNEXACC_DETAIL" type="hidden" id="FNEXACC_DETAIL" size="10"
                                            [(ngModel)]="dataAdd.FNEXACC_DETAIL[i]" />
                                        <input name="USERNAME_CISCO" type="hidden" id="USERNAME_CISCO" size="10"
                                            [(ngModel)]="dataAdd.USERNAME_CISCO[i]" />
                                    </td>
                                    <td width="15%">
                                        <input name="OMONEY" type="text" id="OMONEY" size="8" style="font-size: 14pt;"
                                            [(ngModel)]="dataAdd.MONEY[i]" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ModalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>-->