<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">ระบบออกแบบและพัฒนาอาคารสถานที่</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="../">หน้าหลัก</a>
                </li>

                <li *ngIf="ustatus=='A' || ustatus=='1'" class="nav-item">
                    <a class="nav-link" routerLink="basic">เพิ่มรายการสิ่งก่อสร้าง</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      แผนการจัดทำแบบรูปรายการและประมาณราคา
                    </a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="format">การจัดทำรูปแบบรายการ</a></li>
                      <li><a class="dropdown-item" routerLink="estimatestructure">การจัดทำประมาณการราคาโครงสร้าง</a></li>
                      <li><a class="dropdown-item" routerLink="estimateelectricity">การจัดทำประมาณการราคาไฟฟ้า</a></li>
                      <li *ngIf="ustatus=='A' || ustatus=='1'"><a class="dropdown-item" routerLink="offer">เสนอลงนาม</a></li>
                      <li *ngIf="ustatus=='A' "><a class="dropdown-item" routerLink="approvep">อนุมัติแผน</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      ผลการจัดทำแบบรูปรายการและประมาณราคา
                    </a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="formatr">การจัดทำรูปแบบรายการ</a></li>
                      <li><a class="dropdown-item" routerLink="estimatestructurer">การจัดทำประมาณการราคาโครงสร้าง</a></li>
                      <li><a class="dropdown-item" routerLink="estimateelectricityr">การจัดทำประมาณการราคาไฟฟ้า</a></li>
                      <li *ngIf="ustatus=='A' || ustatus=='1'"><a class="dropdown-item" routerLink="offerr">เสนอลงนาม</a></li>
                      <li *ngIf="ustatus=='A' "><a class="dropdown-item" routerLink="approver">อนุมัติผล</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://budget.rmutsv.ac.th/download/design.pdf">คู่มือการใช้งาน</a>
                  </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>