
.icon-app {
    margin-left: 0px !important;
    text-align: center;
  }
  
  .icon-box {
    border: 3px solid rgb(236, 146, 28);
    width:120px;
    height: 100px;
    padding-top: 6px;
    background: white;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
  }
  .icon-box a {
    display: inline-block;
   // text-decoration: none;
  }
  .icon-box:hover {
    background: #fdb913;
    color: #fff;
  }
  /*.icon_bt {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }*/
  p.a-half {
    cursor: pointer;
  }
  
  @media (min-width: 1px) and (max-width: 650px) {
    .display_sm_hide {
        display:none;
    }
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size:75px;
    margin-top: 3px;
  }
  
  .txt-font {
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .txt-font2 {
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .btn-font3 {
    margin-top: 5px;
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 14px;
  
  }
  .center-screen {
    //color:  #FFFF00;
    color: #0176f3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 100;
  
    }
  
    .tableFixHead          { overflow: auto; }
    .tableFixHead thead  { position: sticky; top: -17px; z-index: 1; }