.btn-font2 {
    margin-top: 5px;
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 13px;
  
  }
  .btn-font3 {
    margin-top: 5px;
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 14px;
  
  }




table { overflow: auto;}
table thead  { position: sticky; top: 60px; z-index: 1; }
th, td { padding: 8px 12px; font-size: 13px;}
th     { background:#b2e3fa; }
.ng-autocomplete {
    width: 100%;
    border-radius: 25px;
  }
