<div class="card border-light mx-4 mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title">ส่งใบสำคัญค้างจ่าย</h5>
            </div>
            <div class="col-md-2" align="right">
                <a class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="showinput()" (click)="setshowbti()" (click)="fetchdataload()" (click)="fetchdatareport()">
                    <i class="fa fa-plus-circle"></i> เพิ่มข้อมูล</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <!-- BASIC TABLE -->
                <div class="panel">
                    <div class="panel-heading">
                        <div class="shadow alert alert-info" role="alert">
                            <div class="row">
                                <div align="right" class="col-md-1">แสดงข้อมูล</div>
                                <div align="right" class="col-md-1">
                                    <select (change)="onTableSizeChange($event)" class="form-select">
                                        <option *ngFor="let size of tableSizes" [ngValue]="size">
                                            {{ size }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1 text-secondary">
                                </div>
                                <div class="col-md-4 text-secondary">
                                    <select name="f_code" id="f_code" class="form-select"
                                        [(ngModel)]="dataAdd.FACULTY_CODE" (change)=" fetchdatalist()">
                                        <option *ngIf="dataAdd.PRIVILEGE_RSTATUS=='A'" value="">ทั้งหมด</option>
                                        <option [value]="fac.FACULTY_CODE" *ngFor="let fac of dataFac">
                                            {{fac.FACULTY_TNAME}}</option>

                                    </select>
                                </div>
                                <div class="col-md-2 " style="font-size: 10pt">
                                    <select name="y_code" id="y_code" class="form-select"
                                        [(ngModel)]="dataAdd.PLYEARBUDGET_CODE" (change)=" fetchdatalist()">
                                        <option [value]="year.PLYEARBUDGET_CODE" *ngFor="let year of dataYear">
                                            {{year.PLYEARBUDGET_CODE}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 text-secondary" style="font-size: 10pt">
                                    <div class="input-group">
                                        <input class="form-control border-end-0 border" type="search"
                                            placeholder="ค้นหาข้อมูล" id="example-search-input"
                                            [(ngModel)]="searchTerm">
                                        <span class="input-group-append">
                                            <button
                                                class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                                                type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center center-screen" *ngIf="loading">
            <div class="spinner-border " role="status" id="loading"></div>
        </div>
        <table width="100%" id="example" class="shadow-lg table table-bordered  table-striped table-hover btn-font3">
            <thead>
                <tr class="bg-primary text-white">
                    <th>
                        <div align="center">ที่</div>
                    </th>
                    <th>
                        <div align="center">วันที่</div>
                    </th>
                    <th>
                        <div align="center">ผู้ทำรายการ</div>
                    </th>
                    <th>
                        <div align="center">สถานะ</div>
                    </th>
                    <th>
                        <div align="center">จัดการข้อมูล</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--  <tr *ngFor="let p of dataYear ; index as i" >-->

                <tr *ngFor="let p of datalist|filter:searchTerm|paginate : {
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count
                      } ; let i = index">
                    <td width="5%" align="center">{{(page*tableSize)-tableSize+i+1}}</td>
                    <td align="center">{{p.FNANNALSMAPR_DATE1}}</td>
                    <td>{{p.FNANNALSMAPR_NAME}}</td>
                    <td>{{p.FNANNALSM_TNAME}}</td>
                    <td align="center">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            (click)="fetchdataloadshows(p.FNANNALSMAPR_CODE)">
                            <i class="fa-solid fa-eye"></i></button>&nbsp;
                        <a role="button" title="ดูรายการ" data-bs-toggle="modal" data-bs-target="#exampleModalshow"
                            class="btn btn-info text-white" (click)="editdatashow(p.FNANNALSMAPR_CODE)"><i
                                class="fa fa-search"></i></a>&nbsp;
                        <a *ngIf="p.REPORT_LINK" role="button" title="รายงาน" class="btn btn-success text-white"
                            href="{{p.REPORT_LINK}}" target="_blank"><i class="fas fa-file-alt">
                            </i></a> &nbsp;
                        <a *ngIf="p.FNANNALSSTATUS_CODE=='83' || p.FNANNALSSTATUS_CODE=='3'  || dataAdd.PRIVILEGE_RSTATUS=='A'" role="button"
                            title="ลบข้อมูล" class="btn btn-danger text-white"
                            (click)="deleteData(p.FNANNALSMAPR_CODE)"><i class="fa fa-trash"></i>
                        </a>&nbsp;
                        <a *ngIf="p.FNANNALSSTATUS_CODE=='83' || p.FNANNALSSTATUS_CODE=='3'  || dataAdd.PRIVILEGE_RSTATUS=='A'" role="button"
                            title="แก้ไข" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            class="btn btn-warning text-white" (click)="editdata(p.FNANNALSMAPR_CODE,p.FACULTY_CODE,p.REPORT_LINK)"><i
                                class="fa fa-edit"></i></a>
                    </td>
                </tr>
                <tr *ngIf="!rownum">
                    <td colspan="6">ไม่มีข้อมูล{{rownum}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-left">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="exampleModalshow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">ส่งใบสำคัญค้างจ่าย</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center center-screen" *ngIf="loadingdetail">
                    <div class="spinner-border " role="status" id="loadingdetail"></div>
                </div>
                <input type="hidden" class="form-control" name="FEPSTATE_CODE" id="FEPSTATE_CODE"
                    [(ngModel)]="dataAdd.FNANNALSMAPR_CODE">

                <table width="100%" border="1" cellpadding="0" cellspacing="0"
                    class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color:rgb(131, 187, 243);">
                            <td width="3%"><strong>ลำดับ</strong></td>
                            <td align="center"><strong>ประเภทรายการ</strong></td>
                            <td align="center"><strong>ชื่อ-สกุล</strong></td>
                            <td align="center"><strong>หน่วยงาน</strong></td>
                            <td align="center"><strong>ฝากธนาคาร</strong></td>
                            <td align="center"><strong>ลูกหนี้</strong></td>
                            <td align="center"><strong>ใบสำคัญ</strong></td>
                            <td align="center"><strong>รายงาน</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of datalistdetail; let i = index ">
                            <td width="5%" align="center">{{i+1}}</td>
                            <td>{{p.FNANNALSM_TNAME}}</td>
                            <td>{{p.FSTF_FNAME}}</td>
                            <td>{{p.FACULTY_TNAME}}</td>
                            <td align="right">{{p.FNLISTBW_CASH_M| number : '1.2-2'}} </td>
                            <td align="right">{{p.FNANNALS_AMOUNT| number : '1.2-2'}} </td>
                            <td align="right">{{p.FNLISTBW_VOUC_M| number : '1.2-2'}} </td>
                            <td align="center">
                                <span *ngIf="p.CONTRACT_LINK"><a role="button" title="รายงานสัญญา"
                                        class="btn btn-success text-white" href="{{p.CONTRACT_LINK}}" target="_blank"><i
                                            class="fa-solid fa-file-contract"></i></a>
                                    &nbsp;</span>
                                <span *ngIf="p.clearcheck"><a role="button" title="รายงานใบล้างหนี้"
                                        class="btn btn-primary text-white" href="{{p.clearcheck}}" target="_blank"><i
                                            class="fa-solid fa-file-contract"></i></a>
                                    &nbsp;</span>

                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">ส่งใบสำคัญค้างจ่าย</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center center-screen" *ngIf="loadingdetail">
                    <div class="spinner-border " role="status" id="loadingdetail"></div>
                </div>
                <input type="hidden" class="form-control" name="FEPSTATE_CODE" id="FEPSTATE_CODE"
                    [(ngModel)]="dataAdd.FNANNALSMAPR_CODE">
                <div class="row">
                    <div class="col-md-2 text-secondary">
                        <label> วันที่: </label>
                        <input placeholder="วันที่" type="text" class="form-control" bsDatepicker #dp2="bsDatepicker"
                            [(ngModel)]="dataAdd.DATENOWT" readonly>
                        <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                            class="fa-solid fa-calendar-days cursor-p text-primary" (click)="dp2.toggle()"></i>
                    </div>
                    <div class="form-group col-md-11"></div>
                     <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-10">
                        <label for="name">เรียน</label>
                        <select name="CHIEF_CODE" id="CHIEF_CODE" class="form-select" [(ngModel)]="dataAdd.CHIEF_CODE">
                            <option value="">กรุณาเลือก</option>
                            <option [value]="fac.CHIEF_CODE" *ngFor="let fac of datachief">{{fac.CHIEF_NAME2}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="form-label">ส่งเข้าสารบรรณ</label>
                            <select name="EBOOKTYPE_CODE" id="EBOOKTYPE_CODE" class="form-select"
                                [(ngModel)]="dataAdd.DEPARTMENT_CODE">
                                <option value="">กรุณาเลือก</option>
                                <option [value]="type.mapSectionCode" *ngFor="let type of dataEdoc">{{type.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-9">
                        <label for="name">แนบไฟล์เอกสาร</label>
                        <br>
                        <input class="form-control" type="file" (change)="onChangepdf($event)"
                            [(ngModel)]="dataAdd.EBOOKREQ_FILE" accept="application/pdf" />

                    </div>
                    <div class="col-md-2">
                        <label for="name" *ngIf="dataAdd.EBOOKREQ_LINK">ไฟล์
                        </label>
                        <br>
                        <a *ngIf="dataAdd.EBOOKREQ_LINK" href="{{dataAdd.EBOOKREQ_LINK}}" target="_blank"><i
                                class="fa-solid fa-file-pdf " style="color: green; font-size: 30px;"></i></a>
                        &nbsp;
                    </div>
                    <div class="form-group col-md-1"></div>
                </div>
                <br>
                <table width="100%" border="1" cellpadding="0" cellspacing="0"
                    class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color:rgb(131, 187, 243);">
                            <td width="3%"><strong>ลำดับ</strong></td>
                            <td align="center"><strong>ประเภทรายการ</strong></td>
                            <td align="center"><strong>ชื่อ-สกุล</strong></td>
                            <td align="center"><strong>หน่วยงาน</strong></td>
                            <td align="center"><strong>ฝากธนาคาร</strong></td>
                            <td align="center"><strong>ลูกหนี้</strong></td>
                            <td align="center"><strong>ใบสำคัญ</strong></td>
                            <td align="center"><strong>เลือก</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of datalistdetail; let i = index ">
                            <td width="5%" align="center">{{i+1}}</td>
                            <td>{{p.FNANNALSM_TNAME}}</td>
                            <td>{{p.FSTF_FNAME}}</td>
                            <td>{{p.FACULTY_TNAME}}
                                <span *ngIf="p.CONTRACT_LINK"><a role="button" title="รายงานสัญญา"
                                        class="btn btn-success text-white" href="{{p.CONTRACT_LINK}}" target="_blank"><i
                                            class="fa-solid fa-file-contract"></i></a>
                                    &nbsp;</span>
                                <span *ngIf="p.clearcheck"><a role="button" title="รายงานใบล้างหนี้"
                                        class="btn btn-primary text-white" href="{{p.clearcheck}}" target="_blank"><i
                                            class="fa-solid fa-file-contract"></i></a>
                                    &nbsp;</span>
                            </td>
                            <td align="right">{{p.FNLISTBW_CASH_M| number : '1.2-2'}} </td>
                            <td align="right">{{p.FNANNALS_AMOUNT| number : '1.2-2'}} </td>
                            <td align="right">{{p.FNLISTBW_VOUC_M| number : '1.2-2'}} </td>
                            <td align="center">
                                <input class="form-check-input filled-in" name="cnk_code" id="cnk_code4" type="checkbox"
                                    [(ngModel)]="dataAdd.check[i]">
                                <input name="FNANNALSMAP_CODE" type="hidden" id="FNANNALSMAP_CODE" size="10"
                                    [(ngModel)]="dataAdd.FNANNALSMAP_CODE[i]" />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button id="ModalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button *ngIf="rowpbi" type="button" class="btn btn-primary"
                    (click)="insertdata()">บันทึกข้อมูล</button>
                <button *ngIf="rowpbu" type="button" class="btn btn-primary" (click)="updatedata()">แก้ไขข้อมูล</button>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" data-bs-backdrop="static"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-primary text-white">
        <h5 id="offcanvasRightLabel">สถานะดำเนินการ</h5>
        <button type="button" class="btn-close text-reset bg-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <section class="py-5">
                    <ul class="timeline-with-icons">
                        <li class="timeline-item mb-5" *ngFor="let item of dataSeq">
                            <span  class="timeline-icon">
                                <i class="fa-solid fa-eye text-success"></i>
                            </span>
                            <h6 class="fw-bold">{{item.ESTATUSREQ_NAME}}</h6>
                            <p class="text-muted mb-2 fw-bold">{{item.EBOOKSEQ_DATE}}</p>
                            <p class="text-muted" align="right">
                                ผู้ทำรายการ : {{item.STF_FNAME}}
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>