<div class="card border-light mx-4 mt-4">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5 class="card-title">อนุมัติเงินผูกพันPO(พัสดุ,การเงิน)</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="shadow alert alert-info" role="alert">
      <div class="row">
        <div class="col">
          <!-- BASIC TABLE -->
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  <label for="name" style="font-size: 10pt">คณะ /หน่วยงาน</label>
                  <select name="f_code" id="f_code" class="form-select" [(ngModel)]="dataAdd.FACULTY_CODE"
                    (change)="fetchdatalistcr()" (change)="fetchdatalistmo()">
                    <option [value]="fac.FACULTY_CODE" *ngFor="let fac of dataFac">{{fac.FACULTY_TNAME}}</option>

                  </select>
                </div>
                <div class="col-md-3">
                  <label for="name" style="font-size: 10pt">ปีงบประมาณ</label>
                  <select name="y_code" id="y_code" class="form-select" [(ngModel)]="dataAdd.PLYEARBUDGET_CODE"
                    (change)="fetchdatalistcr()">
                    <option [value]="year.PLYEARBUDGET_CODE" *ngFor="let year of dataYear">{{year.PLYEARBUDGET_CODE}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label for="name" style="font-size: 10pt">แหล่งเงิน</label>
                <select name="in_come" id="in_come" class="form-select" (change)="fetchdatalistcr()"
                  [(ngModel)]="dataAdd.PLINCOME_CODE">
                  <option value="">ทั้งหมด</option>
                  <option [value]="inc.PLINCOME_CODE" *ngFor="let inc of dataIncome">{{inc.PLINCOME_NAME}}</option>

                </select>
              </div>
              <div class="col-md-3">
                <label for="name" style="font-size: 10pt">ภาค</label>
                <select name="cr_code" id="cr_code" class="form-select" [(ngModel)]="dataAdd.CRPART_ID"
                  (change)="fetchdatalistmo()">
                  <option value="">ทั้งหมด</option>
                  <option [value]="crp.CRPART_ID" *ngFor="let crp of dataCrpart">{{crp.CRPART_TNAME}}</option>

                </select>
              </div>
              <div class="col-md-3">
                <label for="name" style="font-size: 10pt">หมวดรายจ่าย</label>
                <select name="p_code" id="p_code" class="form-select" [(ngModel)]="dataAdd.PLMONEYPAY_CODE">
                  <option value="">ทั้งหมด</option>
                  <option [value]="pay.PLMONEYPAY_CODE" *ngFor="let pay of dataMoneypay">{{pay.PLMONEYPAY_NAME}}
                  </option>
                </select>
              </div>
              <div class="col-md-1">
                <label for="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <button type="submit" class="btn btn-primary" id="submitinsert" (click)="fetchdatalist()"><i
                    class="fa fa-search"></i>&nbsp;ค้นหา</button>
                <input type="hidden" class="form-control" name="c_citizen" id="c_citizen"
                  [(ngModel)]="dataFAdd.citizen">
                <input type="hidden" class="form-control" name="c_satatus" id="c_satatus"
                  [(ngModel)]="dataAdd.PRIVILEGE_RSTATUS">
                <input type="hidden" class="form-control" name="c_fcode" id="c_fcode"
                  [(ngModel)]="dataAdd.UFACULTY_CODE">
                <input type="hidden" class="form-control" name="c_ccode" id="c_code" [(ngModel)]="dataAdd.UCAMPUS_CODE">
                <input type="hidden" class="form-control" name="c_opt" id="c_opt" [(ngModel)]="dataAdd.opt">
              </div>
            </div>
            <div class="row justify-content-center center-screen" *ngIf="loading">
              <div class="spinner-border " role="status" id="loading"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow alert alert-secondary" role="alert">
      <div class="row">
        <div class="col-md-1" align="right">แสดงข้อมูล</div>
        <div align="right" class="col-md-1">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
          <div class="input-group">
            <input class="form-control border-end-0 border" type="search" placeholder="ค้นหาข้อมูล"
              id="example-search-input" [(ngModel)]="dataAdd.search">
            <span class="input-group-append">
              <button (click)="fetchdatalist()"
                class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>

      </div>
    </div>
    <table width="100%" id="example" class="shadow-lg table table-bordered  table-striped table-hover btn-font3">
      <thead>
        <tr class="bg-primary text-white">
          <th>
            <div align="center">ที่</div>
          </th>
          <th>
            <div align="center">ชื่อโครงการ/ชื่อเรื่อง</div>
          </th>
          <th>
            <div align="center">หมวดรายจ่ายย่อย</div>
          </th>
          <th>
            <div align="center">ขอเบิก</div>
          </th>
          <th>
            <div align="center">วันที่ดำเนินการ</div>
          </th>
          <th>
            <div align="center">เลขที่ขอเบิก</div>
          </th>
          <th>
            <div align="center">ตรวจสอบ</div>
          </th>
          <th>
            <div align="center">อนุมัติ PO</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!--  <tr *ngFor="let p of dataYear ; index as i" >-->

        <tr *ngFor="let p of datalist; let i = index">
          <td width="5%" align="center">{{(page*tableSize)-tableSize+i+1}}</td>
          <td>{{p.FNEXPENSES_TITLE}}</td>
          <td>{{p.PLSUBMONEYPAY_NAME}}</td>
          <td align="right">{{p.FNEXPENSES_OMONEY| number : '1.2-2'}} </td>
          <td align="center">{{p.FNEXPENSES_CCDATE}}</td>
          <td align="center">{{p.FNEXPENSES_STEP}}</td>
          <td align="center" width="7%">
            <a role="button" class="btn btn-primary text-white" data-bs-toggle="modal"
              data-bs-target="#exampleModalSearch" (click)="editdata(p.FNEXPENSES_CODE)"><i
                class="fa fa-search"></i></a>
          </td>
          <td align="center" width="10%">
            <button type="submit" class="btn btn-primary" id="submitinsert" data-bs-toggle="modal"
              data-bs-target="#exampleModalupdate" (click)="editdata(p.FNEXPENSES_CODE)"><i
                class="fa fa-arrow-circle-right"></i>&nbsp;อนุมัติ PO</button>
          </td>
        </tr>

        <tr *ngIf="!rownum">
          <td colspan="10">ไม่มีข้อมูล{{rownum}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="exampleModalupdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-white" id="exampleModalLabel">รายละเอียดการขอเบิก</h5>
          <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="shadow alert " role="alert">
            <table width="100%" class="table">
              <tbody>
                <tr>
                  <td colspan="2" align="left">
                    <div class="row">
                      <div class="col-md-3 text-secondary" style="font-size: 10pt"> แหล่งเงิน </div>
                      <div class="col-md-3 text-secondary" style="font-size: 10pt">ภาค </div>
                      <div class="col-md-3 text-secondary" style="font-size: 10pt"> ปีงบประมาณ </div>
                      <div class="col-md-3 text-secondary" style="font-size: 10pt">ผลผลิต </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <input name="FNEXPENSES_CODE" type="hidden" id="FNEXPENSES_CODE"
                          [(ngModel)]="dataFAdd.FNEXPENSES_CODE">
                        <input name="p_mid" type="hidden" id="p_mid" [(ngModel)]="dataFAdd.PLMIDDLEBUDGET_CODE1" />
                        <input name="p_pl" type="hidden" id="p_pl" [(ngModel)]="dataFAdd.PLPROJECT_CODE" />
                        <select name="inm" id="inm" class="form-select" [(ngModel)]="dataFAdd.PLINCOME_CODE" disabled>
                          <option [value]="inc.PLINCOME_CODE" *ngFor="let inc of dataIncome">{{inc.PLINCOME_NAME}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <select name="crm" id="crm" class="form-select" [(ngModel)]="dataFAdd.CRPART_ID" disabled>
                          <option [value]="crp.CRPART_ID" *ngFor="let crp of dataCrpart">{{crp.CRPART_TNAME}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <select name="yearm" id="yearm" class="form-select" [(ngModel)]="dataFAdd.PLYEARBUDGET_CODE"
                          disabled>
                          <option [value]="year.PLYEARBUDGET_CODE" *ngFor="let year of dataYear">
                            {{year.PLYEARBUDGET_CODE}}</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <select name="pln" id="pln" class="form-select" [(ngModel)]="dataFAdd.PLGPRODUCT_CODE" disabled>
                          <option [value]="pl.PLGPRODUCT_CODE" *ngFor="let pl of dataPlproduct">
                            {{pl.PLGPRODUCT_SHORTNAME}}</option>
                        </select>
                      </div>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" width="22%" align="left">
                    <div class="row">
                      <div class="col-md-4 text-secondary" style="font-size: 10pt"> ประเภทงบ </div>
                      <div class="col-md-8 text-secondary" style="font-size: 10pt">หมวดรายจ่ายย่อย </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 text-secondary">
                        <select name="PLMONEYPAY_CODE1" id="PLMONEYPAY_CODE1" class="form-select"
                          (change)="fetchdatalistsubm()" [(ngModel)]="dataFAdd.PLMONEYPAY_CODE" disabled>
                          <option [value]="pl.PLMONEYPAY_CODE" *ngFor="let pl of dataPlmoneypay">
                            {{pl.PLMONEYPAY_NAME}}</option>
                        </select>
                      </div>
                      <div class="col-md-8 text-secondary">
                        <select name="PLSUBMONEYPAY_CODE1" id="PLSUBMONEYPAY_CODE1" class="form-select"
                          [(ngModel)]="dataFAdd.PLSUBMONEYPAY_CODE" disabled>
                          <option [value]="sub.PLSUBMONEYPAY_CODE" *ngFor="let sub of dataESubplmoneypay">
                            {{sub.PLSUBMONEYPAY_NAME}}</option>
                        </select>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="left">
                    <div class="row">
                      <div class="col-md-12 text-secondary" style="font-size: 10pt"> คณะ/หน่วยงาน </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <select name="FACULTY_CODE1" id="FACULTY_CODE1" class="form-select"
                          [(ngModel)]="dataFAdd.FACULTY_CODE" disabled>
                          <option [value]="fac.FACULTY_CODE" *ngFor="let fac of dataFac">{{fac.FACULTY_TNAME}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="left">
                    <div class="row">
                      <div class="col-md-8 text-secondary" style="font-size: 10pt"> ชื่อเรื่อง </div>
                      <div class="col-md-4 text-secondary" style="font-size: 10pt">เลข3D </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <input name="FNEXPENSES_TITLE" id="FNEXPENSES_TITLE" type="text" class="form-control"
                          placeholder="ชื่อโครงการ/ชื่อเรื่อง" [(ngModel)]="dataFAdd.FNEXPENSES_TITLE" disabled>
                      </div>
                      <div class="col-md-4">
                        <input name="FNEXPENSES_CCDATE" id="FNEXPENSES_CCDATE" type="text" class="form-control"
                          placeholder="วันที่ดำเนินการ" [(ngModel)]="dataFAdd.FNEXPENSES_STEP" disabled>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="left">
                    <div class="row">
                      <div class="col-md-3 text-secondary" style="font-size: 10pt"> จำนวนเงิน </div>
                  <!--    <div class="col-md-2 text-secondary" style="font-size: 10pt"> วันที่ผ่านรายการใบสั่งซื้อสั่งจ้าง</div>-->
                      <div class="col-md-7 text-secondary" style="font-size: 10pt"> ร้านค้า</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <input name="FNEXPENSES_AMONEY" id="FNEXPENSES_AMONEY" type="text" class="form-control"
                          placeholder="จำนวนเงิน " [(ngModel)]="dataFAdd.FNEXPENSES_AMONEY" disabled>
                      </div>
                   <!--    <div class="col-md-2">
                        <input name="FNEXPENSES_MDATE" id="FNEXPENSES_MDATE" type="text" class="form-control"
                          bsDatepicker #dp="bsDatepicker" placeholder="วันที่อนุมัติเงินผูกพัน "
                          [(ngModel)]="dataFAdd.FNEXPENSES_CMDATE" readonly>
                        <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                          class="fa-solid fa-calendar-days cursor-p text-primary" (click)="dp.toggle()">
                        </i>

                      </div>-->
                      <div class="col-md-7">
                        <input name="FNCREDITOR_CODE" type="hidden" id="FNCREDITOR_CODE"
                          [(ngModel)]="dataFAdd.FNCREDITOR_CODE" />
                        <div class="ng-autocomplete">
                          <ng-autocomplete style="width:100%;" [(ngModel)]="dataFAdd.FNCREDITOR_CODE1"
                            [data]="datacomplete" [searchKeyword]="keyword" placeholder="ผู้รับเงิน/ร้านค้า"
                            (selected)='selectEvenf($event)' (inputChanged)='onChangeSearchf($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>

                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="left">
                    <!-- <div class="row">
                      <div class="col-md-4 text-secondary" style="font-size: 10pt"> บัญชีแยกประเภท </div>
                      <div class="col-md-1 text-secondary" style="font-size: 10pt"> ประเภทเอกสาร </div>
                      <div class="col-md-1 text-secondary" style="font-size: 10pt"> เลขที่ใบส่งของ </div>
                      <div class="col-md-1 text-secondary" style="font-size: 10pt"> เลขที่ใบสั่งซื้อ </div>
                      <div class="col-md-1 text-secondary" style="font-size: 10pt"> เลขที่เอกสารตรวจรับ </div>
                      <div class="col-md-1 text-secondary" style="font-size: 10pt"> วันที่ตรวจรับ </div>
                      <div class="col-md-1 text-secondary" style="font-size: 10pt"> จำนวนเงิน </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-12">
                        <table id="table1" width="100%">
                          <tbody>
                            <tr *ngFor="let p of number;let i = index">
                              <td width="30%">
                                <input name="FRACCCODEC" type="hidden" id="FRACCCODEC"
                                  [(ngModel)]="dataFAdd.FRACCCODEC[i]" />
                                <div class="ng-autocomplete">
                                  <ng-autocomplete [(ngModel)]="dataFAdd.FRACC1[i]" [data]="datacomplete"
                                    [searchKeyword]="keyword" placeholder="เลขบัญชีแยกประเภท {{i+1}} "
                                    (selected)='selectEvent($event,i)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                  </ng-autocomplete>
                                  <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                  </ng-template>
                                  <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                  </ng-template>
                                </div>
                                <!-- <select name="SECTION_CODE"   id="SECTION_CODE" class="form-select" [(ngModel)]="dataFAdd.FRACCCODEC[i]">
                                  <option  [value]="" ></option>
                                    <option  [value]="sec.FRACC_CODE" *ngFor="let sec of datafrc" >{{sec.FRACC_TNAME}{{sec.FRACC_CODE}}</option>
                                  </select>-->
                                <input type="hidden" name="FNEXACCCODEC[0]" class="form-control"
                                  [(ngModel)]="dataFAdd.FNEXACCCODEC[i]">
                              </td>
                              <td width="10%" align="right">
                                <select name="FNEXACREGIS_TYPE" id="FNEXACREGIS_TYPE" class="form-select"
                                  [(ngModel)]="dataFAdd.FNEXACC_TYPE[i]">
                                  <option value="WE">WE</option>
                                </select>
                              </td>
                              <td width="10%" align="right"><input placeholder="เลขที่ใบส่งของ" type="text"
                                  name="FNEXPENSES_DELIVERRY" class="form-control"
                                  [(ngModel)]="dataFAdd.FNEXPENSES_DELIVERRY[i]"></td>
                              <td width="10%" align="right"><input placeholder="เลขที่ใบสั่งซื้อ" type="text"
                                  name="FNEXPENSES_ORDER" class="form-control"
                                  [(ngModel)]="dataFAdd.FNEXPENSES_ORDER[i]"></td>
                              <td width="10%" align="right"><input placeholder="เลขที่เอกสารตรวจรับ" type="text"
                                  name="FNEXACC_NUMBER" class="form-control" [(ngModel)]="dataFAdd.FNEXACC_NUMBER[i]">
                              </td>
                             
                              <td width="10%" align="right"><input placeholder="วันที่ตรวจรับ" type="text"
                                name="FNEXACC_DATE" class="form-control" bsDatepicker #dp="bsDatepicker"
                                [(ngModel)]="dataFAdd.FNEXACC_ADATE[i]" readonly>
                              <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                                class="fa fa-calendar text-primary"></i>
                            </td>
                             <td width="10%" align="right"><input placeholder="วันที่ผ่านรายการใบสั่งซื้อสั่งจ้าง" type="text"
                                  name="FNEXACC_DATE" class="form-control" bsDatepicker #dp="bsDatepicker"
                                  [(ngModel)]="dataFAdd.FNEXACC_DATE[i]" readonly>
                                <i style="margin-top: -1.6rem;float: right;font-size:15px; margin-right: 6px;"
                                  class="fa fa-calendar text-primary"></i>
                              </td>
                              <td width="10%" align="right"><input type="text" name="fneacc[0]" class="form-control"
                                  (keypress)="CheckNum($event)" placeholder="จำนวนเงิน" (keyup)="showmo()"
                                  [(ngModel)]="dataFAdd.FNEXACCMONEYC[i]"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button id="ModalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
          <button type="button" class="btn btn-danger" (click)="updatedatap()">ไม่มี PO</button>
          <button type="button" class="btn btn-primary" (click)="updatedata()">อนุมัติรายการ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="exampleModalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">รายละเอียดการขอเบิก</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <table *ngFor="let p of datalists;let i = index" width="100%" border="0" cellspacing="0" cellpadding="0"
          class="table table-bordered table-hover">
          <tr *ngIf="dataAdd.htmlStringd">
            <td colspan="2" align="center" class="text-danger bg-warning">
              <div [(innerHTML)]="dataAdd.htmlStringd"></div>
            </td>
          </tr>
          <tbody>
            <tr>
              <td class="bg-info" colspan="2" width="30%" align="center" valign="top">
                <strong>รายละเอียดการขอเบิก</strong>
              </td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>คณะ/หน่วยงาน ::</strong></td>
              <td height="20" valign="top" class="cs3">{{p.FACULTY_TNAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4">
                <strong>&#3649;&#3627;&#3621;&#3656;&#3591;&#3648;&#3591;&#3636;&#3609; ::</strong>
              </td>
              <td height="20" align="left" valign="top" class="cs3">{{p.PLINCOME_NAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4">
                <strong>&#3627;&#3617;&#3623;&#3604;&#3619;&#3634;&#3618;&#3592;&#3656;&#3634;&#3618;
                  ::</strong>
              </td>
              <td height="20" align="left" valign="top" class="cs3">{{p.PLMONEYPAY_NAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>หมวดรายจ่ายย่อย ::</strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.PLSUBMONEYPAY_NAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>ผลผลิต ::</strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.PLGPRODUCT_SHORTNAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อเรื่อง ::</strong></td>
              <td height="20" valign="top" class="cs3">{{p.FNEXPENSES_TITLE}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่ดำเนินการ ::</strong></td>
              <td height="20" valign="top" class="cs3">{{p.FNEXPENSES_CCDATE}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4">
                <strong>&#3648;&#3592;&#3657;&#3634;&#3627;&#3609;ี้ :: </strong>
              </td>
              <td height="20" align="left" valign="top" class="cs3">{{p.FNCREDITOR_NAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>สาขา/สำนักงาน ::</strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.DEPARTMENT_TNAME}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>หลักสูตร/งาน ::</strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.SECTION_TNAME}}</td>
            </tr>

            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>เลขที่หนังสือ:: </strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_NUMBOOK}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>เลขฎีกา::</strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_DEKA}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>ขอเบิก:: </strong></td>
              <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_OMONEY| number : '1.2-2'}}
              </td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs3"><span
                  class="cs4"><strong>เงินอนุมัติ::</strong></span> </td>
              <td height="20" align="left" valign="top" class="cs3">{{p.FNEXPENSES_AMONEY| number : '1.2-2'}}
              </td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>เงินผูกพัน::</strong></td>
              <td valign="top" class="cs4">{{p.FNEXPENSES_CMONEY| number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>เงินจ่ายจริง::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_RMONEY| number : '1.2-2'}}</td>
            </tr>

            <tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่ขอเบิก::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_CDATE}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่อนุมัติเงิน::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_ADATE}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>วันที่อนุมัติเงินผูกพัน::</strong>
              </td>
              <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_CMDATE}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4">
                <strong>วันที่อนุมัติโหลดเงิน::</strong>
              </td>
              <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_MDATE}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อผู้ทำรายการ ::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.STF_FNAME1}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อผู้อนุมัติเงิน ::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.STF_FNAME2}}</td>
            </tr>
            <tr>
              <td align="right" valign="top" class="cs4"><strong>ชื่อผู้อนุมัติเงินผูกพัน ::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.STF_FNAME3}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>ชื่อผู้ใส่เงินจ่ายจริง ::</strong>
              </td>
              <td align="left" valign="top" class="cs4">{{p.STF_FNAME4}}</td>
            </tr>
            <tr>
              <td width="30%" align="right" valign="top" class="cs4"><strong>หมายเหตุ ::</strong></td>
              <td align="left" valign="top" class="cs4">{{p.FNEXPENSES_EXTEND}}</td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>