.btn-font2 {
    margin-top: 5px;
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 16px;
  
  }
  .btn-font3 {
    margin-top: 5px;
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 16px;
  
  }
  .tableFixHead          { overflow: auto;  }
.tableFixHead thead th { position: sticky; top: 60px; z-index: 1; }
